body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: gray;
    text-align: center;
}
.profile{
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background:black ;
    border-radius: 8px;
    font-size: large;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5);
}
h1,h2{
    color:beige;
}
.about,.skills,.contact{
    padding: 20px;
    margin: 10px 0; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
}
.about{
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background:black ;
    border-radius: 8px;
    
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5);
    /* background:bisque; */
}
.skills{
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background:black ;
    border-radius: 8px;
    
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5);
    background:black;
    color: beige;
}
.contact{
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background:black ;
    border-radius: 8px;
    
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5);
    /* background:bisque; */
}
p{
    color: beige;
}
a:hover{
    color:white;
}
a:active{
    color: beige;
}